<!DOCTYPE html>
<html lang="en">
    <head>
        <title>give me hamburgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>

    <main>
        <h1>Välkommen till BurgerOnline</h1>
    </main>

    <section>
        <h3>Choose a burger</h4>
        <p>Which burger are you craving for? choose here</p>
    </section>

    <section>
      <h5>Halloumiburgare</h3>
      <img src="https://www.max.se/contentassets/b67d3c7259284fa8907374bdf4d205ee/product_gdl-umami-halloumi1.jpg" alt="Halloumiburgare" title="Halloumiburgare" width="200">
      <ul>
        <li>Extra stor Halloumiburgare med picklad rödlök, <br> tomat och en fyllig Umamidressing (contains lactose) <br>omslutet av vårt goda Briochebröd(contains gluten).</li>
        <li>Calouries: 839,7</li>
        <li>Vegetarian</li>
      </ul>
    </section>

    <sections>
      <h3>Shipping Information</h4>
      <p>Please fill in your address information:</p>
    </section>

    <hr>
    <footer>
    </footer>
    </body>
</html>
