<!DOCTYPE html>
<html lang="en">
    <head>
        <title>give me hamburgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>

    <main>
        <h1>Välkommen till BurgerOnline</h1>
    </main>

    <section>
        <h3>Choose a burger</h4>
        <p>Which burger are you craving for? choose here</p>
    </section>

    <section>
      <table>
        <thead>
          <tr>
            <th>Halloumiburgare</th>
            <th>Smokey Platn Beef</th>
            <th>Spicy Chicken</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://www.max.se/contentassets/b67d3c7259284fa8907374bdf4d205ee/product_gdl-umami-halloumi1.jpg" alt="Halloumiburgare" title="Halloumiburgare" width="200"></td>
            <td><img src="https://www.max.se/contentassets/2263da5f8c554c589a635deb450352ab/product_gdl-smokey-chipotle-plant-beef1.jpg" alt= "Smokey Beef humperger" title="Beef humperger" width="200"></td>
            <td><img src="https://www.max.se/contentassets/f7358740037f4714b3e51fc9afbe5f2e/product_spicy-chicken1.jpg" alt="Chicken burgare" title="Spicy Checken" width="200"></td>
          </tr>
          <tr>
            <td>
                   <ul>
                    <li>Extra stor Halloumiburgare med picklad rödlök, <br> tomat och en fyllig Umamidressing (contains lactose) <br>omslutet av vårt goda Briochebröd(contains gluten).</li>
                    <li>Calouries: 839,7</li>
                    <li>Vegetarian</li>
                  </ul>
            </td>

            <td>
              <ul>
               <li>En smakrik växtbaserad burgare <br>med cheddarsmältost, chipotlesås, picklad rödlök(lactose free), <br> omslutet av saftigt sötpotatisbröd(gluten free).</li>
               <li>Calouries: 790</li>
               <li>Vegan</li>
             </ul>
            </td>

            <td>
              <ul>
               <li>Kycklingburgare gjord på svensk kyckling,<br>Serveras i briochebröd tillsammans med goda majonnäs <br>(contains lactose and gluten).</li>
               <li>Calouries: 920</li>
               <li>Can be ordered with vegan majo</li>
            </td>
          </tr>
        </tbody>
    </table>
    </section>

    <sections>
      <h3>Shipping Information</h4>
      <p>Please fill in your address information:</p>

      <p>
          <label for="Full name">Full name</label><br>
          <input type="text" id="full name" name="name" required="required" placeholder="First- and Last Name" />
      </p>

      <p>
          <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
      </p>

      <p>
          <label for="Street">Street</label><br>
          <input type="text" id="street" name="st" placeholder="Street name" />
      </p>

      <p>
          <label for="hn">House number</label><br>
          <input type="number" id="hn" name="hn" placeholder="House number" />
      </p>



    </section>

    <hr>
    <footer>
      &copy blablabla
    </footer>
    </body>
</html>
