
body {
    font-family: "Times New Roman";
    font-size: 16pt;
}

a, strong, em {
    color: #0099ff;
}

button:hover {
    background-color: rgb(153,102,153);
    cursor:pointer;
}

.headf {
  margin: 15px 5px;
}

#headPic {
  opacity: 0.4;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  margin-top: -17%;
  margin-left: 25%
}

button {
  margin: 35px 0px 0px 0px;
}

input:hover {
  cursor:pointer;
}

option:hover {
    cursor:pointer;
}

.table {
  display: grid;
  grid-gap: 10px ;
  grid-template-columns: 400px 400px 400px;
  background-color: black;
  color: white;
}



#burger {
  padding: 40px 20px 40px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 300px 300px;
}

.h {
  padding: 1px 50px 4px;
  text-align: center;
}

.a {
  grind-column: 1/ span 1;
}

.b {
  grind-column: 2/ span 1;
}

.c {
  grind-column: 3/ span 1;
}


.pic {
  padding: 1px 50px 4px;
}

.pd {
  padding: 1px 50px 4px;
}

#prodInfo {
  background-color: #000000;
  color: #ffffff;
  border: 2px dotted #ffffff;
}

section {
  margin: 3px 5px;
  padding: 5px 15px 5px;

}

.pic {
  text-align: center;
}

.allergy {
    font-weight: bold;
}

.shipInfo {
  border: 2px dotted #000000;
}



p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}
