@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Times New Roman";
    font-size: 16pt;
}

a, strong, em {
    color: #0099ff;
}

button:hover {
    background-color: rgb(153,102,153);
    cursor:pointer;
}

.head {
  margin: 20px 30px;
}

button {
  margin: 35px 0px 0px 0px;
}

input:hover {
  cursor:pointer;
}

option:hover {
    cursor:pointer;
}

table {
  width: 75%;
  margin: 10px 20px;
  vertical-align: middle;
}

table + section {
  padding: 1px 50px 4px;
}

section {
  margin: 15px 5px;
  border: 2px dotted #000000;
}

.pic {
  text-align: center;
}

.allergy {
    font-weight: bold;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}
